
.container {
    display: grid;
    gap: 10px;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    box-sizing: border-box;
}

.section {
    background-color: lightgray;
    padding: 20px;
    border: 1px solid black;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    height: auto;
    cursor: default;
    min-height: 1000px; /* Forces scrolling */
}

.section p {
  text-align: justify;
}
