.text-center {
  margin-top: 20px;
  margin-bottom: 40px;
}

.container {
    display: grid;
    gap: 10px;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    box-sizing: border-box;
}

.section {
    background-color: lightgray;
    padding: 20px;
    border: 1px solid black;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    cursor: default;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%; 
}



.section p {
  text-align: justify;
}


.row {
  gap: 2%;
}

