<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListCheckOff">
<head>
  <meta charset="UTF-8">
  <title>Shopping List CheckOff</title>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>

  <h1>Shopping List Check Off</h1>

  <div class="list-container">
    <!-- To Buy List -->
    <div ng-controller="ToBuyController as toBuyCtrl" class="list">
      <h2>To Buy</h2>
      <p class="message" ng-if="toBuyCtrl.items.length === 0">Everything is bought!</p>
      <ul>
        <!-- Loop items in list using repeat-->
        <li ng-repeat="item in toBuyCtrl.items">
          Buy 
          <input type="number" ng-model="item.quantity" min="1"> 
          {{ item.name }} @ ${{ item.pricePerItem }}
          <button ng-click="toBuyCtrl.buyItem($index)">Bought</button>
        </li>
      </ul>
    </div>

    <!-- Already Bought List -->
    <div ng-controller="AlreadyBoughtController as boughtCtrl" class="list">
      <h2>Already Bought</h2>
      <p class="message" ng-if="boughtCtrl.items.length === 0">Nothing bought yet</p>
      <ul>
        <!-- Loop items in list using repeat-->
        <li ng-repeat="item in boughtCtrl.items">
          Bought {{ item.quantity }} {{ item.name }} for total price of {{ (item.quantity * item.pricePerItem) | angularDollars }}
        </li>
      </ul>
    </div>
  </div>

  <script src="./js/angular.min.js"></script>
  <script src="./js/app.js"></script>

</body>
</html>
