body {
    background: linear-gradient(to bottom, #e0218a1f, #ffffff) !important;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.card {
    border-radius: 10px;
    overflow: hidden;
}

.card-header {
    font-size: 1.5rem;
    font-weight: bold;
}

.input-group input {
    font-size: 1.1rem;
    padding: 10px;
}

.message {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

button {
    width: 100%;
}

.bg-original {
    background-color: #E0218A !important;
}

/* For the GIF display */
.img-fluid {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: auto;
}